<%- include('layouts/header') %>
<main>
  <div class="tab-bar-view">
    <h1><%= title %></h1>
    <span class="logout-btn button-link">logout</span>
  </div>
  <div class="tab-content-view">
    <div id="dashboard" class="fullscreen-page-item">
      <%- include('layouts/dashboard.ejs') %>
    </div>
    <div id="room-search" class="fullscreen-page-item">
      <%- include('layouts/room-search.ejs') %>
    </div>
    <div id="my-rooms" class="fullscreen-page-item"> 
      <%- include('layouts/my-rooms.ejs') %>
    </div>
    <div id="whiteboard" class="fullscreen-page-item">
      <%- include('layouts/drawingWhiteboard.ejs') %>
    </div>
  </div>

  <div id="account-login-overlay" class="login-overlay" style="opacity: 0; display: none;">
    <form id="login-account-form">
      <h1 style="text-align:center;"><%= title %></h1>
      <input id="username" name="username" type="text" placeholder="Username" required>
      <input id="password" name="password" type="password" placeholder="Password" required>
      <input id="login-btn" name="login" type="submit" value="Login">
      <span class="error hidden">Error Placeholder</span>
      <a id="login-account-link-1" class="button-link" href="#">Login as Guest...</a>
      <a id="login-account-link-2" class="button-link"  href="#">Register an Account...</a>
    </form>
    <noscript>
    <div class="fullscreen-overlay-cover">
      Please enable JavaScript to use the webapp.
    </div>
  </noscript>
  </div>

  <script type="text/javascript" src="js/lib/paper-full.min.js"></script>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/bundle.js"></script>
</main>
<%- include('layouts/footer') %>
